.page-container {
  max-width: 900px;      
  margin: 0 auto;        
  padding: 40px 20px;    
}

.section {
  text-align: center;     
  margin-bottom: 60px;   
}

/* Section Titles */
.sectionTitle {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Paragraph styling */
.paragraph {
  font-family: Poppins, sans-serif;
  font-size: 1.05rem;
  color: #444;
  margin: 10px auto;
  max-width: 750px;     
  line-height: 1.7;
  text-align: center;    
}

/* Button styling  */
.btn-primary {
  margin-top: 15px;
}
